/*
    Esta hoja contiene el código css de todas las páginas.
    El estilo específico para cada página se ha implementado precediendo
    todos sus selectores con la clase asociada a dicha página (en la
    tag <html>
*/

/*
---------------------------------------------
---------------------------------------------
Elementos comunes a todas las páginas
---------------------------------------------
---------------------------------------------
*/
* {
    margin:0px;
    padding:0px;
}

/*Formato de base para el body de las páginas*/
body {
    background-color: #f8f1f1;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #2f2f6a;
}


/*Formato de la cabecera*/

header{
    background-image:url("../images/cap9.png");
    background-repeat: no-repeat;
    background-size: cover;
}


/* Barra de navegación*/
nav {
    margin:auto;
    width:50em;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a img {
    height: 0.75em;
    width: 0.75em;
}

.nav li a {
    background-color:#5eaaa8;
    color:#000000;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#a3d2ca;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}




/*Formato de h1*/
h1 {
    font-family: 'Roboto Condensed', 'Montserrat', Helvetica, sans-serif;
    color: #005691;
    font-variant: small-caps;
    height: 8%;
    padding: 10px 10px 10px 10px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 4em ;
} 

/*Formato de h2*/
h2 {
    font-family: 'Roboto', 'Poppins', Helvetica, sans-serif;
    font-weight: 300;
    color: #e8f1f5;
    height: 6%;
    padding: 0 10px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 3em ;
}
/*
---------------------------------------------
---------------------------------------------
Estilo específico de mascotas.html
---------------------------------------------
---------------------------------------------
*/

/*Formato de la zona de artículos cuando ningún animal ha sido seleccionado*/
.mascotas #placeholder {
    width: 30%;
    display: inline-block;
    margin-left: 30%;
    text-align: center;
    margin-top: 10%;
    position:absolute;
    float: left;
}

/*Formato de las secciones sobre cada animal*/
.mascotas .petInfo {
    margin-top: 2%;
    margin-left: 3%;
    padding:1%;
    width: 50%;
    text-align: center;
    display: inline-block;
    z-index: 1;
    position: absolute;
    visibility: hidden; /*por defecto no se ven, se habilitarán al seleccionar la foto correspondiente en el panel de selección*/
    opacity: 0;
    transition: visibility 0.3s, opacity 0.5s;
}

/*Formato de los artículos sobre cada animal*/
.mascotas .petInfo article {
    width: 100%;
    padding: 3%;
    display: inline-block;
    border: 3px solid #112d4e;
    border-radius: 5%/10%;
    text-align: left;
    background-color: #e8f1f5;
    box-shadow: 0 0 5px 8px #112d4e;
}

/*Formato de las imágenes dentro de cada artículo*/
.mascotas article img {
    width: 40%;
    display: inline-block;
    float: left;
}

/*Formato de la bio del animal dentro de cada artículo*/
.mascotas .bio {
    width: 55%;
    display: inline-block;
    margin-left: 4%;
}

/*Formato de la tabla dentro de la bio*/
.mascotas table {
    line-height: 150%;
    height: max-content;
}

/*Formato de las celdas de la tabla*/
.mascotas td {
    padding: 1%, 2%;
    border-radius: 1%;
}

/*Formato del botón de adopción de cada animal*/
.mascotas .quieroAdoptar {
    padding: 4%;
    margin-top: 5%;
    background-color: #004a7c;
    color: #fafafa;
    border-radius: 5%/10%;
}

/*Formato de las imágenes dentro del panel de selección*/
.mascotas img.seleccion {
    width: 15%;
    display: block;
    margin: 2%;
    float: left;
    clear: left;
}

/*Esconde los botones de selección del animal, se seleccionará al hacer click sobre la imagen*/
.mascotas input[type="radio"] { 
    display:none;
}

/*Muestra el artículo relacionado con con el animal relacionado*/
.mascotas :checked ~ .petInfo { 
    visibility: visible;
    opacity: 1;
    float: right;
}

/*Añade sombra a la imagen seleccionada*/
.mascotas :checked + label>img{
    box-shadow: 0 0 5px 8px #112d4e;
}

/*Formato del aside*/
.mascotas aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /*distribuye el texto verticalemente*/
    box-sizing: border-box;
    width: 15%;
    background: #e8f1f5;
    position: absolute;
    right:3%;
    /*top: 45%;*/
    height: 100vh;
    border-radius: 10%/5%;
    text-align: center;
    padding: 6% 3%;
    line-height: 200%;
}

.mascotas #sabiasque h3 {
    font-family: 'Poppins', 'Montserrat', Helvetica, sans-serif;
    color: #005691;
    font-size: 20px;
}

.mascotas #sabiasque p {
    color: #005691;
    font-weight: 400;
}

/*Formato del footer*/
.mascotas footer {
    clear:both;
}


/*
---------------------------------------------
---------------------------------------------
Estilo específico de formularioAdopcion.html
---------------------------------------------
---------------------------------------------
*/

/*
---------------------------------------------
---------------------------------------------
Estilo específico de index.html
---------------------------------------------
---------------------------------------------
*/
.index #banner{
    height: 30rem;
    width: 100%;
}
.index #banner h1 a img{
    height: 100%;
    display:block;
    margin:0 auto;
    font-family: 'Roboto Condensed', 'Montserrat', Helvetica, sans-serif;
    color: #005691;
    font-variant: small-caps;
    height: 30rem;
    padding: 40px 40px 40px 40px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 4em ;
}
.index .contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.index .texto-encima {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #3f6170;
    transform: translate(-50%, -50%);
}
.index #noticias table{
    table-layout: fixed;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

.index #noticias tr{
    padding: 20px;

}

.index #noticias th, td
 {
    padding: 20px;
  }

.index aside #webamiga {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    box-sizing: border-box;
    width: 15%;
    background: #a3d2ca;
    position: absolute;
    right:3%;
    top: 75%;
    height: 100vh;
    border-radius: 10%/5%;
    text-align: center;
    padding: 6% 3%;
    line-height: 200%;
}