/*
    Esta hoja contiene el código css de todas las páginas.
    El estilo específico para cada página se ha implementado precediendo
    todos sus selectores con la clase asociada a dicha página (en la
    tag <html>
*/

/*
---------------------------------------------
---------------------------------------------
Elementos comunes a todas las páginas
---------------------------------------------
---------------------------------------------
*/

/*Formato de base para el body de las páginas*/
body {
    background-color: #f8f1f1;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #2f2f6a;
    margin:0;
    padding-top: 0;
}

/*Formato de la barra de navegación*/
nav {
    box-sizing: border-box;
    margin-top: 0;
    top: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color:rgba(94,170,168, 0.8);
}

/*Posiciona las lista del menú de navegación*/
nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

/*menú principal*/
nav .menu > li {
    float: right;
    height: 100%;
}

/*Dimensiona los iconos de la barra de navegación*/
nav .menu li a img {
    height: 1em;
    width: 1em;
}

/*Formato de los links de la barra de navegación*/
nav a {
    box-sizing: content-box;
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    height: 45px;
    padding: 12px 12px 0 12px;
}

/*Oculta el submenú*/
nav .submenu {
    display: none;
}

/*Posiciona los elementos del submenú*/
nav .submenu li {
    display: block;
    position: relative;
}

/*Formato de los links del submenú*/
nav .submenu a {
    display: block;
    width: 140px;
    padding: 12px 12px 0 12px;
    background-color: rgba(94,170,168, 0.8);
    text-align: center;
    text-decoration: none;
    position: relative;
    text-align: center;
}

/*Muestra el submenú cuando se pasa el cursor por el elemento del
menú principal correspondiente*/

nav li:hover ul.submenu {
    display: block;
    position: absolute;
}

/*Cambia el color del links del menú de navegación al pasar el cursor*/
nav a:hover, nav a.pagina-actual {
    background-color: #a3d2ca;
}


/*Formato del header*/
header {
    height: 30vh;
    width: 100vw;
    background-color: #005691;
    display: table-cell;
    vertical-align: bottom;
    clear: both;
    padding-top: 3%;

}
.index header{
    background-image: url(../images/bannerstormi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mascotas header{
    background-image: url(../images/banneraslan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.quienesSomos header{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/bannergato.jpg);
}

.formContacto header{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/bannerhappy.jpg);
}

.formAdopcion header{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/bannersnoppy.jpg);
}

/*Formato del título del header de cada página*/
header h1 {
    vertical-align: bottom;
    font-variant: small-caps;
    font-family: 'Roboto Condensed', 'Montserrat', Helvetica, sans-serif;
    padding-left: 5%;
    color: #f8f1f1;
    font-size: 4em;
}
/*Formato de h2*/
h2 {
    font-family: 'Roboto', 'Poppins', Helvetica, sans-serif;
    font-weight: 300;
    color: #005691;
    height: 6%;
    padding: 10px 10px 10px 10px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 3em ;
}

/*Formato de h3*/
h3 {
    font-family: 'Roboto', 'Poppins', Helvetica, sans-serif;
    font-weight: 200;
    color: #005691;
    height: 4%;
    padding: 5px 5px 5px 5px;
    display: block;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 20px;
    text-align: left;
    font-size: 2em ;
}

/*Formato del footer*/
footer {
    background-color:rgba(94,170,168, 0.8);
    clear:both;
    width:100%;
    height:20%;
    text-align: left; 
    margin-left: 0% !important;
    margin-top: 10%; 
    font-size: small;
    line-height: 25px;
}

footer #texto{
    width: 80%;
    display: inline-block;
}

footer #contacto {
    margin-top: 0%;
    margin-left: 1%;
}

footer #redes {
    list-style: none;
    width: 10%;
    margin-right: 0%;
    margin-top: 0%;
    float: right;
}

footer #redes a img {
    font-size: 15px;
    height: 20px;
    width: 22px;
}


/*
---------------------------------------------
---------------------------------------------
Estilo específico de mascotas.html
---------------------------------------------
---------------------------------------------
*/

/*Formato de la zona de artículos cuando ningún animal ha sido seleccionado*/
.mascotas main{
    margin-left: 7%;
    align-items: center;
}

.mascotas #placeholder {
    width: 30%;
    display: inline-block;
    margin-left: 30%;
    text-align: center;
    margin-top: 10%;
    position:absolute;
    float: left;
    max-height: 30vh;
    overflow: scroll;
}

.mascotas #placeholder p {
    font-size: 2em;
    font-family: 'Roboto', 'Poppins', Helvetica, sans-serif;
    font-weight: 400;
    color: #005691;
}

/*Formato de las secciones sobre cada animal*/
.mascotas .petInfo {
    margin-top: 2%;
    margin-left: 10%;
    padding:1%;
    width: 50%;
    text-align: center;
    display: inline-block;
    z-index: 1;
    position: absolute;
    visibility: hidden; /*por defecto no se ven, se habilitarán al seleccionar la foto correspondiente en el panel de selección*/
    opacity: 0;
    transition: visibility 0.3s, opacity 0.5s;
}

/*Formato de los artículos sobre cada animal*/
.mascotas .petInfo article {
    width: 100%;
    padding: 3%;
    display: inline-block;
    border: 3px solid #5eaaa8;
    /*border-radius: 5%/10%;*/
    text-align: left;
    background-color: #e7f3f1;
    max-height: 50vh;
    overflow: scroll;
    /*box-shadow: 0 0 5px 8px #a3d2ca;*/
}

/*Formato de las imágenes dentro de cada artículo*/
.mascotas article img {
    width: 40%;
    display: inline-block;
    float: left;
}

/*Alineación del título dentro de cada artículo*/
.mascotas article h2 {
    text-align: left;
}
/*Formato de la bio del animal dentro de cada artículo*/
.mascotas .bio {
    width: 55%;
    display: inline-block;
    margin-left: 4%;
}

/*Formato de la tabla dentro de la bio*/
.mascotas table {
    line-height: 1.25em;
    height: max-content;
}

/*Formato de las celdas de la tabla*/
.mascotas td {
    padding: 1%, 2%;
    border-radius: 1%;
}

/*Formato del botón de adopción de cada animal*/
.mascotas .quieroAdoptar {
    padding: 4%;
    margin-top: 5%;
    background-color: #2f2f6a;
    color: #f8f1f1;
    border-radius: 5%/10%;
    font-weight: bold;
    font-size: 1.25em;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

/*Animación del botón de adopción*/
@keyframes example {
    0% {
        height: 100%;
        rotate: 0;   
    }
    25% {
        height: 105%;
        rotate: 30deg; 
    }
    50% {
        height: 110%;
        rotate: 0; 
    }
    50% {
        height: 105%;
        rotate: -30deg; 
    }
    100% {
        height: 100%;
        rotate: 0deg; 
    }
}
/*Formato del botón de adopción de cada cuando se pasa el cursor sobre él*/
.mascotas .quieroAdoptar:hover {
    cursor: pointer;
    animation: example 1s ease-in-out;
}

/*Formato de las imágenes dentro del panel de selección*/
.mascotas img.seleccion {
    width: 15%;
    display: block;
    margin: 2%;
    float: left;
    clear: left;
}

/*Esconde los botones de selección del animal, se seleccionará al hacer click sobre la imagen*/
.mascotas input[type="radio"] { 
    display:none;
}

/*Muestra el artículo relacionado con con el animal relacionado*/
.mascotas :checked ~ .petInfo { 
    visibility: visible;
    opacity: 1;
    float: right;
}

/*Añade sombra a la imagen seleccionada*/
.mascotas :checked + label>img{
    box-shadow: 0 0 3px 6px #5eaaa8;
}

/*Posicionamiento del aside*/
.mascotas aside {
    float: right;
    width: 40%;
    margin-right: 20%;
    text-align: center;
}

/*Formato del título del aside*/
.mascotas #sabiasque h3 {
    font-family: 'Poppins', 'Montserrat', Helvetica, sans-serif;
    color: #005691;
    font-size: 1.5em;
}

/*Formato del texto del aside*/
.mascotas #sabiasque p {
    color: #005691;
    font-weight: 400;
}

/*Eliminar decoración del link del aside cuando se ha visitado*/
.mascotas #sabiasque a, .mascotas #sabiasque a:visited{
    color:chocolate;
}
/*Formato del footer*/
.mascotas footer {
    clear:both;
}

/*
---------------------------------------------
---------------------------------------------
Estilo específico de index.html
---------------------------------------------
---------------------------------------------
*/
.index header {
    vertical-align: bottom;
    font-variant: small-caps;
    font-family: 'Roboto Condensed', 'Montserrat', Helvetica, sans-serif;
    padding-left: 5%;
    color: #f8f1f1;
    font-size: 4em;
}

.index #banner h1{
    
    font-family: 'Roboto Condensed', 'Montserrat', Helvetica, sans-serif;
    color: #e8f1f5;
    font-variant: small-caps;
    height: 8%;
    padding: 10px 10px 10px 10px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 4em ;
}

.index h2{
        font-family: 'Roboto', 'Poppins', Helvetica, sans-serif;
        font-weight: 300;
        color: #005691;
        height: 6%;
        padding: 100px 30px 100px 30px;
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 3em ;
}

.index #banner h1 a img{
    height: 100%;
    display:block;
    margin:0 auto;
    font-family: 'Roboto Condensed', 'Montserrat', Helvetica, sans-serif;
    color: #005691;
    font-variant: small-caps;
    height: 30rem;
    padding: 40px 40px 40px 40px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 4em ;
}
.index #text-bnv p{
    padding: 10px 20% 10px 20%;
    text-align: justify;
}

}
.index #noticias table{
    table-layout: fixed;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

.index #noticias tr{
    padding: 20px;

}

.index #noticias th, .index #noticias td
 {
    padding: 20px;
  }

.index aside #webamiga {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    box-sizing: border-box;
    width: 15%;
    position: absolute;
    background: #a3d2ca;
    position: absolute;
    right:3%;
    top: 700px;
    height: 70vh;
    border-radius: 10%/5%;
    text-align: center;
    padding: 6% 3%;
    line-height: 200%;
}

/*
---------------------------------------------
---------------------------------------------
Estilo genérico de formularios
---------------------------------------------
---------------------------------------------
*/
form {
    width: 45%;
    margin:auto;
    padding:16px;
}

form label{
	width: 100%;
	font-weight:bold;
    margin-top: 15px;
    margin-bottom: 5px;
	
}

form fieldset {
    border: none;
}

fieldset legend {
    color: #db6400;
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 15px;

}
input {
    width:100%;
	height:20px;
	border:1px solid white;
    background-color:white;
    margin-top: 5px;
    margin-bottom: 15px;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid white;
	border-radius:3px;
	background-color: white;	
    margin-top: 5px;
    margin-bottom: 15px;		
	/*margin:0px;*/
	display:inherit;
}

select{
    width:25%;
	height:20px;
    background-color: white;
    border: white;
}

form input[type="submit"], [type="reset"]{
	font-size: 15px;
    height:30px;
    width:125px;
    display:inline;

}

form input[type="submit"]:hover, [type="reset"]:hover{
	cursor:pointer;
    color:white;
    background-color:#5eaaa8;
    Border:#5eaaa8;
}



/*
---------------------------------------------
---------------------------------------------
Estilo específico de formularioContacto.html
---------------------------------------------
---------------------------------------------
*/

.formContacto #introForm {
    text-align: center;
    margin: 50px;
}

.formContacto #tlf {
    width:35%;
    margin-left: 1em;
}

.formContacto #email {
    width:35%;
    margin-left: 1em;
}


.formContacto #prov {
    width:40%
}


.formContacto #loc {
    width:40%
}


/*
---------------------------------------------
---------------------------------------------
Estilo específico de quienesSomos.html
---------------------------------------------
---------------------------------------------
*/

.quienesSomos main{
    align-items: center;
}

/*Bloque de texto*/
.quienesSomos #quienesSomos {
    margin-right:5%;
    margin-left:2%;
    line-height: 25px;
    width:45%;
    height:40%;
    float: left;
    overflow:auto;
    margin-bottom:2%;
    text-align: justify;
    display: inline-block;
    
}

/*Vídeo. Solo hay que separarlo del título principal. 
Las dimensiones vienen por defecto en el enlace que proporciona Youtube.*/
.quienesSomos #video iframe{
    margin-top: 2%;
    margin-bottom:2%;
    float: left;
    width: 45vw; 
    height: 50vh; 
}

/*Aside. Publicidad*/
.quienesSomos #publititulo {
    position:relative;
    float:inherit;
    margin-left: 5%;
}

/*Aside. Publicidad: imagen 1*/
.quienesSomos #publicidad #train {
    position:relative;
    float:left;
    margin-left: 5%;
    width: 15%; 
    height: 25%;
}

/*Aside. Publicidad: imagen 2*/
.quienesSomos #publicidad #vet {
    position:relative;
    float:left;
    margin-left: 5%;
    width: 20%; 
    height: 10%;
}


