/*
    Esta hoja contiene el código css de todas las páginas.
    El estilo específico para cada página se ha implementado precediendo
    todos sus selectores con la clase asociada a dicha página (en la
    tag <html>
*/

/*
---------------------------------------------
---------------------------------------------
Elementos comunes a todas las páginas
---------------------------------------------
---------------------------------------------
*/

/*Formato de base para el body de las páginas*/
body {
    background-color: #f8f1f1;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #2f2f6a;
}

/*Formato de la cabecera*/
header nav{
    box-sizing: border-box;
    clear: both;
    position: fixed;
    width: 100%;
    background-color: #f5f5f5;
    top: 0;
    right:0;
    margin: 0 auto;
    padding: 1%;
    z-index: 100;
}

/*Formato del título en la cabecera*/
header h1 {
    margin-top: 5%;
    text-align: center;
}

/*Formato de h1*/
h1 {
    font-family: 'Roboto Condensed', 'Montserrat', Helvetica, sans-serif;
    color: #db6400;
    font-variant: small-caps;
} 

/*Formato de h2*/
h2 {
    font-family: 'Roboto', 'Poppins', Helvetica, sans-serif;
    font-weight: 300;
    color: #db6400;
}
/*
---------------------------------------------
---------------------------------------------
Estilo específico de mascotas.html
---------------------------------------------
---------------------------------------------
*/

/*Formato de la zona de artículos cuando ningún animal ha sido seleccionado*/
.mascotas #placeholder {
    width: 30%;
    display: inline-block;
    margin-left: 30%;
    text-align: center;
    margin-top: 10%;
    position:absolute;
    float: left;
}

/*Formato de las secciones sobre cada animal*/
.mascotas .petInfo {
    margin-top: 2%;
    margin-left: 3%;
    padding:1%;
    width: 50%;
    text-align: center;
    display: inline-block;
    z-index: 1;
    position: absolute;
    visibility: hidden; /*por defecto no se ven, se habilitarán al seleccionar la foto correspondiente en el panel de selección*/
    opacity: 0;
    transition: visibility 0.3s, opacity 0.5s;
}

/*Formato de los artículos sobre cada animal*/
.mascotas .petInfo article {
    width: 100%;
    padding: 3%;
    display: inline-block;
    border: 3px solid #2f2f6a;
    border-radius: 5%/10%;
    text-align: left;
    background-color: #f8f1f1;
    box-shadow: 0 0 5px 8px #2f2f6a;
}

/*Formato de las imágenes dentro de cada artículo*/
.mascotas article img {
    width: 40%;
    display: inline-block;
    float: left;
}

/*Formato de la bio del animal dentro de cada artículo*/
.mascotas .bio {
    width: 55%;
    display: inline-block;
    margin-left: 4%;
}

/*Formato de la tabla dentro de la bio*/
.mascotas table {
    line-height: 150%;
    height: max-content;
}

.mascotas td {
    padding: 1%, 2%;
    border-radius: 1%;
}
/*Formato del botón de adopción de cada animal*/
.mascotas .quieroAdoptar {
    padding: 4%;
    margin-top: 5%;
    background-color: #2f2f6a;
    color: #f8f1f1;
    border-radius: 5%/10%;
}

/*Formato de las imágenes dentro del panel de selección*/
.mascotas img.seleccion {
    width: 15%;
    display: block;
    margin: 2%;
    float: left;
    clear: left;
}

/*Esconde los botones de selección del animal, se seleccionará al hacer click sobre la imagen*/
.mascotas input[type="radio"] { 
    display:none;
}

/*Muestra el artículo relacionado con con el animal relacionado*/
.mascotas :checked ~ .petInfo { 
    visibility: visible;
    opacity: 1;
    float: right;
}

/*Añade sombra a la imagen seleccionada*/
.mascotas :checked + label>img{
    box-shadow: 0 0 5px 8px #2f2f6a;
}

/*Sitúa el aside a la derecha*/
.mascotas aside {
    width: 15%;
    background: lightcoral;
    position: absolute;
    right:3%;
    top: 45%;
}

/*Formato del footer*/
.mascotas footer {
    clear:both;
}


/*
---------------------------------------------
---------------------------------------------
Estilo específico de formularioAdopcion.html
---------------------------------------------
---------------------------------------------
*/